@tailwind base;
@tailwind components;
@tailwind utilities;


.main{
    /* Selamat Datang */
   
   position: relative;
   width: 1512px;
   height: 982px;
   
   background: linear-gradient(236.77deg, #D1DEFF 4.25%, #E2FFD0 92.84%);
      
   }
   
   .body{
   position: absolute;
   width: 1029px;
   height: 345px;
   left: 341px;
   top: 293px;
   
   font-family: 'Poppins';
   font-style: italic;
   font-weight: 600;
   font-size: 64px;
   line-height: 96px;
   text-align: center;
   
   color: #001920;
   }
   
   .desc{
   /* menyediakan berbagai makanan / jajanan */
   
   position: absolute;
   width: 613px;
   height: 52px;
   left: 663px;
   top: 465px;
   
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 36px;
   text-align: center;
   
   color: #1C214D;
   
   
   }
   
   .img{
   /* Blue_Orange_Modern_Minimalist_Food_Catering_Service_Logo__1_-removebg-preview 1 */
   
   position: absolute;
   width: 606px;
   height: 568px;
   left: 107px;
   top: 207px;
   
   background: url(Blue_Orange_Modern_Minimalist_Food_Catering_Service_Logo__1_-removebg-preview.png);
   
   }
   
   .button{
   
   /* Rectangle 2329 */
   
   position: absolute;
   width: 127px;
   height: 47px;
   left: 775px;
   top: 533px;
   
   background: #DED153;
   border-radius: 100px;
   
   
   }
   
   .button2{
   /* Rectangle 2330 */
   
   position: absolute;
   width: 128px;
   height: 47px;
   left: 945px;
   top: 533px;
   
   background: #DED153;
   border-radius: 100px;
   
   }